html {
  height: 100%;
  width: 100%;
}

footer {
  text-align: center;
  font-size: x-small;
}

nav {

  display: block; font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif; text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif; text-align: center;
}

html {
  background: url(https://images.pexels.com/photos/1799901/pexels-photo-1799901.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); background-size: cover;
}

a {
  font-display: block; font-style: italic; color: white;
}

a:link, a:visited {
background-color: grey;
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}

a:hover, a:active {
background-color: grey;
}
body {
  text-align: center; font-family: Arial, Helvetica, sans-serif; color: white
}

img{
  float: inherit;
}